

/*Estilos para el header*/

.caja{
    position:relative;
    margin: 0 auto;
}
header{
    background-color:black;
    padding: 20px 0;
}   
nav{
    position: absolute;
    top: 160px;
    right: 10%;
}
nav li{
    display:inline;
}
nav a{
    padding: 0 0 0 15px;
    font-size: 30px;
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
nav a:hover{
    color: lightgreen;
    text-decoration:underline;
}

/*Estilos para la pagina Home*/

.banner{
    width: 100%;
}
.informacion{
    background:linear-gradient(brown,pink);
}
.principal{
    width: 940px;
    margin: 0 auto;
    padding: 3em 0;
}
.titulo-principal{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin:20px 0;
    color: darkmagenta;
    clear:left;
}
.principal p{
    font-size: 20px;
    margin: 0 0 1em;
}
.foto-grupal{
    width:200px;
    height: 180px;
    float:left;
    margin: 0 20px 20px 0;
}
.mapa{
    background:linear-gradient(pink,skyblue);
    margin:10px auto;
}
.mapa p{
    font-size: 20px;
    margin:0 0 1em;
    text-align: center;
}
.mapa-contenido{
    width:940px;
    margin:0 auto;
}
.instrumentos{
    padding: 2em;
    background: linear-gradient(skyblue, black);
}
.contenido-instrumentos{
    width:640px;
    margin:0 auto;
}
.lista-instrumentos{
    width: 100%;
    text-align: center;
    margin:0 auto;
}
.items{
    display:inline;
    margin:0 20px ;
    font-size: 22px;
    font-weight: bold;
}
.logo-final{
    text-align: center;
    margin: 20px auto;
}
footer{
    background: url(imagenes/bg.jpg);
    padding:40px;
    text-align: center;
}
.referencias{
    color: white;
    padding:20px 0;
}

/*FALTA BORRAR ESPACIOS ENTRE SECCIONES*/


/* Estilos de la hoja contactos*/
form{
    margin:40px 0;
}
form label{
    display: block;
    font-size: 20px;
    margin: 10px 0;
}
.input-padron{
    width: 50%;
    display: block;
    padding:10px 25px;
}